# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

### fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/metadata
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

build/
